// Цвета
$grey: #505559;
$grey2:#555A5E;
$grey3:#43484C;
$grey4:#666;
$yellow: yellow;
$green: #396B62 ;
$green-light: #4EC698;
$green2: #449d44;
$green3:#06fc23;
$white: #fff;
$white2:#ddd;
$blue:#31B0D5;
$black:#1d1d1d;
$orange: #EC971F;
$red:red;
$transparent:transparent;

